/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  --hue: 255;
  --first-color: #6dc3bb;
  --first-color-alt: #00b7b5;
  --first-color-alt-2: hsl(var(--hue), 60%, 56%);
  --first-color-light: #00b7b5;
  --title-color: hsl(240, 8%, 95%);
  --text-color: hsl(240, 8%, 70%);
  --text-color-light: hsl(240, 8%, 50%);
  --body-color: hsl(240, 100%, 2%);
  --container-color: hsl(240, 8%, 6%);

  --body-font: "Montserrat", sans-serif;
  --second-font: "Unbounded", sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 3rem;
    --bigger-font-size: 2rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.button {
  background-color: var(--body-color);
  border: 3px solid var(--first-color);
  color: var(--title-color);
  padding: 1rem 2rem;
  box-shadow: 0 8px 32px hsla(210, 60%, 64%, 0.5), inset 9px -8px 30px #00b7b5;
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  border-radius: 3rem;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  transition: box-shadow 0.4s;
}

.button i {
  font-weight: initial;
  font-size: 1.2rem;
}

.button:hover {
  color: var(--first-color-alt);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1400px;
  /* margin-inline: 1.5rem; */
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

section {
  /* padding-block: 5rem 1rem; */
  min-height: 100vh;
}

.section-title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 3rem;
}

.section-title span {
  color: var(--first-color);
}

.main {
  overflow: hidden;
}

/* Header & Nav */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    var(--body-color) 60%,
    hsla(240, 100%, 2%, 0) 100%
  );
  z-index: var(--z-fixed);
}

.blob-animation {
  width: 115px;
  height: 110px;
  background: linear-gradient(
    180deg,
    var(--first-color-alt) 20%,
    var(--first-color-light) 100%
  );
  border-radius: 50%;
  position: absolute;
  filter: blur(20px);
  z-index: -1;
  animation: blob-animation 7s linear infinite;
}

.blob {
  width: 250px;
  height: 250px;
  background: linear-gradient(
    180deg,
    var(--first-color) 0%,
    var(--first-color-alt) 100%
  );

  border-radius: 50%;
  filter: blur(50px);
  z-index: -1;
  position: absolute;
}

@keyframes blob-animation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header .blob-animation {
  top: -3rem;
  left: -3rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
}

.nav-logo {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--second-font);
  align-self: flex-start;
  transition: color 0.4s;
}

.nav-logo:hover {
  color: var(--first-color);
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 5rem;
}

.nav-list li {
  display: inline-block;
  margin-right: 15px;
}

.nav-link {
  color: var(--text-color);
  font: var(--font-semi-bold) var(--small-font-size) var(--second-font);
}

.nav-link:hover {
  color: var(--first-color);
  text-shadow: 0 8px 16px var(--first-color);
  transition: color 0.4s, text-shadow 0.4s;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  row-gap: 3rem;
}

.home-greeting {
  font-size: var(--h2-font-size);
  font-weight: var(--font-regular);
  color: var(--first-color);
}

.home-name {
  font-size: var(--bigger-font-size);
  text-transform: uppercase;
}

.home-img {
  position: relative;
}

.home-img .blob-animation {
  width: 600px;
  height: 600px;
  bottom: 0;
  justify-self: center;
}

.home-shadow {
  position: relative;
}

.home-shadow {
  width: 100%;
  height: 375px;
  bottom: 1rem;
  z-index: 1;
  background: linear-gradient(
    180deg hsla(240, 100%, 2%, 0) 60%,
    hsla(240, 100%, 2%) 85%
  );
}

.home-left {
  display: flex;
  flex-direction: column;
  gap: 20rem;
}
.home-right {
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 20rem;
}
.home-social {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home-info {
  z-index: 2;

  justify-self: center;
}

.home-split {
  font-size: var(--h3-font-size);
  font-weight: var(--font-regular);
  color: var(--first-color);
}

.home-professoin-1,
.home-professoin-2 {
  font-size: var(--bigger-font-size);
  text-align: center;
  font-weight: 600;
  overflow: hidden;
  text-transform: uppercase;
}

.home-professoin-1 {
  position: relative;
  color: var(--first-color);
}

.home-professoin-1::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    hsla(0, 0%, 0%, 0.8) 10%,
    hsla(0, 0%, 0%, 0) 60%
  );
  position: absolute;
  top: 0;
  left: 0;
}

.home-professoin-2 {
  transform: translateY(-1rem);
}
.home-social-link {
  display: inline-flex;
}
.home-social-link a {
  font-size: 1.25rem;
  color: var(--title-color);
  transition: transform 0.4s color 0.4s;
}

.home-social-link a:hover {
  color: var(--first-color);
  transform: translateX(0.25rem);
}

.home-cv {
  font-size: var(--small-font-size) var(--font-medium) var(--second-font);
  display: flex;
}

.home-cv a {
  color: var(--text-color-light);
}

.home-cv i {
  font-size: 1rem;
}

.home-cv a:hover {
  color: var(--first-color);
}

.about {
  position: relative;
  margin-top: 15rem;
}

.about-container {
  overflow-y: clip;
  row-gap: 3rem;
}

.about-section-left {
  display: flex;
  justify-content: start;
}

.about-section-right {
  display: flex;
  justify-content: end;
  padding-left: 37rem;
  /* padding-bottom: 100rem; */
  margin-top: -32rem;
}

.about-data .section-title {
  margin-top: -1.5rem;
  text-align: initial;
}

.about-data .about-description {
  margin-bottom: 2rem;
  font-size: var(--h2-font-size);
  letter-spacing: 1px;
}

.about-data .about-description b {
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.about-section-left .about-img {
  position: relative;
  justify-self: center;
}

.about-img .blob-animation:nth-child(1) {
  top: 0.5rem;
  left: 5.5rem;
}

.about-img .blob-animation:nth-child(2) {
  top: 16.5rem;
  left: 19rem;
}

.about-perfil {
  width: 200px;
}

/* .about .about-shadow {
  width: 100%;
  height: 260px;
  position: relative;
  bottom: 1rem;
  z-index: 1;
  background: linear-gradient(
    180deg,
    hsla(240, 100%, 2%, 0) 60 var(--body-color)
  );
} */

.projects .section-title {
  text-align: center;
  margin-left: 1.5rem;
}

.projects-card {
  position: relative;
  background: var(--container-color);
  padding: 3rem;
  overflow: hidden;
  border-radius: 3rem;
}

.projects-card .blob {
  z-index: 0;
  bottom: 0;
  right: 7rem;
}

.projects-img {
  /* width: 400px;
  height: 400px; */
  border-radius: 2rem;
}

.projects-number,
.projects-data,
.projects-img {
  position: relative;
  z-index: 1;
}

.projects-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects-number h2 {
  font-size: var(--biggest-font-size);
}

.projects-number h3 {
  font-weight: var(--normal-font-size);
  font-size: var(--h3-font-size);
}

/* =======Responsive section start======== */

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    align-items: center;
  }

  .nav-logo {
    align-self: inherit;
  }

  .nav-list {
    flex-direction: row;
    column-gap: 5rem;
  }

  .home-container {
    width: initial;
    padding-top: 3rem;
  }

  .home-perfil {
    width: 600px;
  }

  .home-img .blob-animation {
    width: 600px;
    height: 600px;
    bottom: 2rem;
    filter: blur(50px);
  }

  .home-shadow {
    width: 700px;
    height: 700px;
    left: 0;
    right: 0;
    background: linear-gradient(
      180deg hsla(240, 100%, 2%, 0) 60,
      hsl(240, 100%, 2) 95%
    );
  }

  .home-data {
    padding-left: 3rem;
  }

  .home-info {
    bottom: 44rem;
    right: -35rem;
    /* bottom: initial; */
  }

  .home-split {
    font-size: var(--h2-font-size);
  }

  .home-professoin-1 {
    font-size: var(--biggest-font-size);
    text-align: initial;
  }

  .home-professoin-2 {
    font-size: var(--biggest-font-size);
    transform: translateY(-1.5rem);
  }

  .home-social-link {
    font-size: 1.4rem;
  }

  .home-cv {
    font-size: var(--normal-font-size);
    rotate: 0deg;
    left: 62rem;
    bottom: 12rem;
  }

  .about-conatiner {
    grid-template-columns: repeat(2, 500px);
    align-items: center;
    column-gap: 5.5rem;
    padding-top: 2rem;
  }

  .about-data,
  .section-title {
    text-align: initial;
    z-index: 2;
  }

  .about-description {
    margin-bottom: 3rem;
  }

  .about-perfil {
    width: 500px;
  }

  .about-img .blob-animation {
    width: 170px;
    height: 150px;
    filter: blur(50px);
  }

  .about-img .blob-animation:nth-child(1) {
    left: 5rem;
    top: 4rem;
  }

  .about-img .blob-animation:nth-child(2) {
    right: 7rem;
    bottom: 1rem;
  }
}

/* @media screen and (min-width: 540px) {
  .home-container {
    width: 460px;
    margin-inline: auto;
  }
}

@media screen and (min-width: 768px) {
  .home-container {
    width: 600px;
  }
} */

/* =======Responsive section end======== */
